<!DOCTYPE html>
<html>
<head>
  <title>Emmasbowtique</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "default", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class="main_body">
    <div class="body_wrapper">
        <div id="header">
          <h1><%=link_to "Emma's Bowtiques", root_path%></h1>
        </div>
        <%= yield %>
    </div>
</body>
</html>
